.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.featured-logos {
  display: flex;
  justify-content: space-around;
}

.featured-logos img {
  height: 3.2rem;

  /* TO MAKE THE IMAGES BLACK */
  filter: brightness(0);
  opacity: 50%;
}