/* 
--- TYPOGRAPHY SYSTEM
  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

--- WHITESPACE
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* ////////////////////////////////////////////////// */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4fce3;

  padding: 4.8rem 4.8rem 0 4.8rem;
}

.logo {
  height: 3.2rem;
}

.main-nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
  text-decoration: none;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #216f30;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #2f9e44;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #216f30;
}
