/* 
--- TYPOGRAPHY SYSTEM
  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

--- WHITESPACE
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* ////////////////////////////////////////////////// */
.section-hero {
  padding: 9.6rem 0;
  background-color: #f4fce3;
}

.hero {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  gap: 2.4rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  color: #333;
  line-height: 1.05;
  letter-spacing: -1px;

  margin-bottom: 2rem;
}

.hero-description {
  font-size: 2rem;
  color: #333;
  line-height: 1.6;

  margin-bottom: 6.4rem;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.8;

  margin-bottom: 6.4rem;
}

.btn {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 400;
}

.btn--primary:link,
.btn--primary:visited {
  display: inline-block;
  background-color: #2f9e44;
  color: #fff;
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;
}

.btn--secondary:link,
.btn--secondary:visited {
  display: inline-block;
  color: #555;
}

.btn--primary:hover,
.btn--primary:active {
  display: inline-block;
  background-color: #2b8a3e;
  color: #fff;
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;
}

.btn--secondary:hover,
.btn--secondary:active {
  display: inline-block;
  border: inset 1px solid #555;
}

.hero-img {
  width: 100%;
}

.mg-small-right {
  margin-right: 1.2rem;
}
