/* 
--- TYPOGRAPHY SYSTEM
  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

--- WHITESPACE
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* ////////////////////////////////////////////////// */
.section-testimonials {
  padding: 9.6rem 0;
  background-color: #f4fce3;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.testimonial {
  margin-bottom: 2.4rem;
}

.testimonial-img {
  width: 4.8rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
}

.testimonial-author {
  font-size: 1.4rem;
  color: #888;
}
